<div class="jumbotron">
	<h1 class="display-4">{{stock.companyName}} ({{stock.symbol}})</h1>

	<strong>Latest Price:</strong>{{stock.latestPrice}}<br/>
<<strong>changeOverTime :</strong>{{stock_his.changeOverTime}}<br/>
<strong>Previous Close Price:</strong>{{stock.previousClose}}<br/>
<strong>Percent Change:</strong>{{stock.changePercent}}<br/>
<strong>Market Cap:</strong>{{stock.marketCap}}<br/>

</div>


<!--
<br/><br/>
{{#each stock}}
	{{@key}} | {{this}}<br/>
{{/each}}

-->